<div
	style="display: flex; justify-content: center; align-items: center; height: 40vh;">
	<form role="form" th:object=${fileListVO} th:action="@{editSave}"
		method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{seq}" /> 
		<input type="hidden" th:field="*{isEdit}" /> 
		<div class="form-floating mb-3" style="width: 800px;">
			<input class="form-control" th:field="*{title}" name="title" placeholder="제목" required />
			<label for="name">제목</label>
			<div class="invalid-feedback" data-sb-feedback="name:required">A
				name is required.</div>
		</div>
		<div class="form-floating mb-3">
			<textarea class="form-control" colspan="5" id="story" name="content"
				style="width: 1000px; height: 100px;" placeholder="내용을 적어주세요." th:field="*{content}"
				rows="4" cols="200" required></textarea>
			<label for="name">내용</label>
			<div class="invalid-feedback" data-sb-feedback="name:required">A
				name is required.</div>
		</div>
		<input class="form-control" type="file" id="file" name="files"
			multiple /> <span style="text-align: center;"
			th:text="'*새로 파일첨부시 기존 파일은 삭제됩니다.(첨부된 파일 : '+ ${fileLen} + '개)'"></span><br><br>
		<div class="button" style="display: flex; justify-content: center;">
			<button class="btn btn-primary btn-lg" type="submit"
				style="display: flex; justify-content: center;">내용수정</button>
		</div>
	</form>
</div>
