<div class="card overflow-hidden shadow rounded-4 border-0 mb-5"
	style="width: 1095px;">
	<div class="card-body p-0">
		<div class="table-responsive">
			<table class="table align-items-center mb-0">
				<th:block th:if="${item.comment}">
					<colgroup>
						<col style="width: 45%" />
						<col style="width: 10%" />
						<col style="width: 15%" />
						<col style="width: 15%" />
						<col style="width: 10%" />
					</colgroup>
					<thead>
						<tr>
							<th class="text-center">댓글</th>
							<th class="text-center">닉네임</th>
							<th class="text-center">등록일</th>
							<th class="text-center">수정일</th>
							<th class="text-center">수정/삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bcitem : ${item.comment}">
							<td class="text-center" th:text="${bcitem.bcContent}"></td>
							<td class="text-center"><a
								th:href="@{profile(mbName=${bcitem.mbId})}"> <span
									th:text="${bcitem.mbId}"></span>
							</a></td>
							<td class="text-center" th:text="${bcitem.bcCreateAt}"></td>
							<td class="text-center" th:text="${bcitem.bcUpdateAt}"></td>
							<td class="text-center" th:if="${bcitem.mbId == session.id}">
								<a
								th:href="@{/bcedit(bcSeq = ${bcitem.bcSeq}, bdSeq = ${bcitem.bdSeq})}">
									<button class="btn btn-outline-dark">수정</button>
							</a> <a
								th:href="@{/bcremove(bcSeq=${bcitem.bcSeq}, bdSeq=${bcitem.bdSeq})}">
									<button class="btn btn-outline-dark">삭제</button>
							</a>
							</td>
						</tr>
					</tbody>
				</th:block>
			</table>
		</div>
	</div>
</div>