<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.CommentMapper">

	<!-- comment 리스트 -->
	<select id="commentList" parameterType="hashMap"
		resultType="com.co.kr.domain.CommentListDomain">
		SELECT * FROM springsns.comment where bd_seq=#{bdSeq} order by bc_update_at desc
	</select>

	<!-- comment 생성 -->
	<insert id="commentUpload"
		parameterType="com.co.kr.domain.CommentContentDomain"
		useGeneratedKeys="true" keyProperty="bdSeq" keyColumn="bd_seq">

		INSERT INTO
		springsns.comment ( bc_seq, bd_seq, mb_id, bc_content )
		VALUES
		( #{bcSeq}, #{bdSeq}, #{mbId}, #{bcContent} )
	</insert>
	<update id="commentUpdate"
		parameterType="com.co.kr.domain.CommentContentDomain">
		UPDATE springsns.comment SET
		bc_seq=#{bcSeq},
		bd_seq=#{bdSeq}, mb_id=#{mbId},
		bc_content=#{bcContent},
		bc_update_at=now() WHERE bc_seq=#{bcSeq}
	</update>
	<delete id="commentRemove" parameterType="hashMap">
		DELETE FROM
		springsns.comment WHERE bc_seq=#{bcSeq}
	</delete>
	<delete id="commentAllRemove" parameterType="hashMap">
		DELETE FROM
		springsns.comment where bd_seq=#{bdSeq}
	</delete>
	<select id="commentSelectOne"
		resultType="com.co.kr.domain.CommentListDomain" parameterType="map">
		SELECT *
		FROM springsns.comment where bc_seq = #{bcSeq}
	</select>
</mapper>